@use '@/shared/styles/variables' as *;

.page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color-bg-page;
}

.cardOuter {
  background: $color-white;
  border-radius: 40px;
  border: 1px solid $color-border-input;
  box-shadow: 0px 24px 20px rgba(0, 0, 0, 0.04);
  overflow: hidden;
  width: 100%;
  max-width: 527px;
}

.cardInner {
  background: linear-gradient(
    180deg,
    rgba(35, 35, 35, 0.03) 0%,
    rgba(35, 35, 35, 0) 50%
  ),
    $color-white;
  border-radius: 32px;
  border-top: 1px solid $color-border-input;
  margin: 6px;
  box-shadow: -4px 0 4px -3px rgba(0, 0, 0, 0.15), 4px 0 4px -3px rgba(0, 0, 0, 0.15);
}
